.carousel {
  box-sizing: border-box;
}


.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: transparent;
}

.carousel-cell-image {
  display: block;
  max-height: 98%;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
  box-shadow: -2px 2px 6px #29342988;
  border-radius: 15px;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}



/* Breakpoint Mobile */
@media (min-width: 640px) {
  .carousel-cell {
    height: 500px;
  }
}