@import url("carousel.css");


html {
  scroll-behavior: smooth;
}

.menu-items ul {
  display: flex;
}

.menu-items li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#menu-mobile li {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

#woocommerce .wp-post-image,
section#productos img {
	margin-left: auto;
	margin-right: auto;
	box-shadow: -2px 2px 6px #29342988;
	border-radius: 15px;
}

#woocommerce .product_title {
	font-size: 1.5rem;
	font-weight: bold;
  font-family: Poppins, sans-serif;
}

#woocommerce .related h2 {
  font-size: 1.75rem;
	font-weight: bold;
  font-family: Poppins, sans-serif;
}

#woocommerce li h2 {
	font-size: 1.25rem !important;
}

#woocommerce .price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

#woocommerce .woocommerce-product-details__short-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#woocommerce a.add_to_cart_button,
a.wc-block-cart__submit-button,
a.wc-block-components-totals-coupon-link,
button.wc-block-components-totals-coupon__button,
button.wc-block-components-checkout-place-order-button,
a.wc-block-components-checkout-return-to-cart-button,
a.added_to_cart,
#cart a.showcoupon,
#cart button {
  display: block;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(41 52 41 / var(--tw-bg-opacity));
  padding: .75rem 1.25rem;
  font-family: Poppins,sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  width: 11.25rem;
  margin-bottom: 4rem;
}

a.wc-block-cart__submit-button,
button.wc-block-components-totals-coupon__button {
  width: auto;
}

a.wc-block-components-checkout-return-to-cart-button {
	text-align: center;
	height: 50px;
	padding-top: 15px;
}

#woocommerce .related .attachment-woocommerce_thumbnail {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 10px #293429;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title,
table.wc-block-cart-items .wc-block-cart-items__header {
	font-size: 1.2rem !important;
	font-family: poppins !important;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title {
	font-size: 1  rem !important;
	font-family: poppins !important;
}

.wc-block-grid__products {
	justify-content: center;
	margin-top: 2rem !important;
}

.wp-block-woocommerce-empty-cart-block h2.wp-block-heading {
  margin-top: 2rem;
	font-size: 1.2rem !important;
	font-family: poppins !important;
}

#cart .woocommerce-notices-wrapper {
  text-align: center;
}

#cart a.showcoupon {
	margin-bottom: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 100%;
}

#cart .wc-block-components-notice-banner {
  text-align: center;
}

#cart form.woocommerce-form-coupon {
  text-align: center;
}

#cart form input:not([type='checkbox']):not([type='radio']),
#cart form select,
#cart form textarea {
  padding: .5em .5em .5em;
  color: #2b2d2f;
  border: 1px solid #50575e;
  border-radius: 4px;
  font-size: 1em;
  line-height: 1em;
  width: 100%;
}

#cart form p.form-row {
  margin-bottom: 1rem;
}

#cart form input[type='radio'] {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .5rem;
}

#cart div.payment_box,
#cart #payment label img {
  margin-left: 2rem;
}

#cart form textarea {
  height: 100px;
}

#cart input#coupon_code {
  text-align: center;
}

#cart form.woocommerce-form-coupon button {
  margin-left: auto;
  margin-right: auto;
}

#cart #payment li {
  margin-top: 1rem;
}

#cart h3:not(#ship-to-different-address) {
	font-family: 'Poppins';
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

#cart h3#ship-to-different-address {
  margin-bottom: 2rem;
}

#cart span.select2-selection {
  height: 45px;
  margin-bottom: 1rem;
}

#cart span.select2-selection__rendered {
  padding-top: .5rem;
}

#cart #order_review  {
	background: white;
	border-radius: 4px;
	box-shadow: 0px 0px 10px lightgray;
  padding: 1rem;
}

#cart table {
  width: 100%;
  margin-bottom: 1.5rem;
}

#cart table td.product-total,
#cart table tfoot td {
  text-align: right;
}

#cart table tfoot {
  background-color: #ececec;
}

#cart form button#place_order {
  margin: 2rem auto;
}

#cart form div.woocommerce-terms-and-conditions-wrapper {
  margin-top: 2rem;
}

#cart abbr.required {
	color: red;
	font-size: 120%;
}

#cart .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 30px;
	top: 7px;
	width: 30px;
  right: 5px;
}

#cart .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 8px 6px 0 6px;
}





/* Breakpoint LG */
@media (min-width: 1024px) {
  #cart a.showcoupon {
    display: inline;
  }
}


/* Breakpoint XL */
@media (min-width: 1024px) {
  .menu-items li {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .front-article {
	  width: 17vw;
  }
}