@import url("carousel.css");


html {
  scroll-behavior: smooth;
}

.menu-items ul {
  display: flex;
}

.menu-items li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#menu-mobile li {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

#woocommerce .wp-post-image,
section#productos img {
	margin-left: auto;
	margin-right: auto;
	box-shadow: -2px 2px 6px #29342988;
	border-radius: 15px;
}

#woocommerce .product_title {
	font-size: 1.5rem;
	font-weight: bold;
  font-family: Poppins, sans-serif;
}

#woocommerce .related h2 {
  font-size: 1.75rem;
	font-weight: bold;
  font-family: Poppins, sans-serif;
}

#woocommerce li h2 {
	font-size: 1.25rem !important;
}

#woocommerce .price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

#woocommerce .woocommerce-product-details__short-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#woocommerce a.add_to_cart_button,
a.wc-block-cart__submit-button {
  display: block;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(41 52 41 / var(--tw-bg-opacity));
  padding: .75rem 1.25rem;
  font-family: Poppins,sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  width: 11.25rem;
  margin-bottom: 4rem;
}

a.wc-block-cart__submit-button {
  width: inherit
}

#woocommerce .related .attachment-woocommerce_thumbnail {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 10px #293429;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title,
table.wc-block-cart-items .wc-block-cart-items__header {
	font-size: 1.2rem !important;
	font-family: poppins !important;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title {
	font-size: 1  rem !important;
	font-family: poppins !important;
}

.wc-block-grid__products {
	justify-content: center;
	margin-top: 2rem !important;
}

.wp-block-woocommerce-empty-cart-block h2.wp-block-heading {
  margin-top: 2rem;
	font-size: 1.2rem !important;
	font-family: poppins !important;
}



/* Breakpoint XL */
@media (min-width: 1024px) {
  .menu-items li {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .front-article {
	  width: 17vw;
  }
}